# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# SQLite database
*.sqlite3
*.db

# Flask instance folder
instance/

# macOS
.DS_Store

# Logs
*.log
